* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}

body {
    background-image: url(../matrix.jpg);
    background-repeat: repeat-y;
}

.header {
    z-index: 10;
    position: fixed;
    width: 100%;
    height: 80px;
    display: block;
    position: fixed;
    background-color: black;
    /* background-color: white; */
}

.inner-header {
    width: 90%;
    height: 100%;
    display: block;
    margin: 0 auto;
}

.logo-container {
    height: 100%;
    display: table;
    float: left;
}

.logo-container > h1 {
    color: white;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    font-size: 32px;
    font-weight: 100;
    cursor: pointer;
    left: 10px;
}

.logo-container > h1 > span {
    font-weight: 1000;
}

.navigation {
    float: right;
    height: 100%;
}

.navigation > a:hover {
    background: rgba(100, 100, 100, 0.5);
    border-radius: 25px;
}

.navigation > a {
    display: table;
    height: 100%;
    float: left;
    padding: 0px 20px;
}

/* .navigation > a:last-child {
    padding-right: 0;
} */

.navigation > a > li {
    display: table-cell;
    vertical-align: middle;
    font-family: cursive;
    height: 100%;
    color: white;
    font-size: 20px;
    cursor: pointer;
    text-transform: uppercase;
}

.checkbtn {
    font-size: 30px;
    color: white;
    float: right;
    margin-right: 30px;
    margin-left: 10px;
    cursor: pointer;
    display: none;
    line-height: 80px;
}

#check {
    display: none;
}

@media (max-width: 952px){

    .logo-container > h1{
        font-size: 24px;
    }
    .navigation > a > li {
        font-size: 15px;
    }

    .article-body > h1 {
        font-size: 27px;
    }
}

@media (max-width: 700px){

    .header {
        height: 80px;
    }

    .inner-header .navigation .profile-image{
        display: inline;
        opacity: 0;
        margin-left: 100px;
        transition: all 1s;
    }

    .navigation li span {
        opacity: 0;
        transition: all 1s;
    }

    .checkbtn {
        display: block;
    }

    .navigation{
        position: fixed;
        display: table;
        width: 30%;
        height: 100vh;
        background: transparent;
        top: 80px;
        left: 90%;
        text-align: center;
        transition: all 0.5s;
    }

    .navigation > a {
        background-color: darkgreen;
        border-radius: 30px;
        margin-top: 15px;
        margin-bottom: 15px;
        padding-top: 20px;
        padding-bottom: 20px;
        height: auto;
        width: 100%;
        display: table-row;
        float: left;
        background: green;
        border-radius: 50px;
    }

    .navigation > a:hover {
        background: rgba(100, 100, 100, 0.5);
        border-radius: 50px;
    }

    .navigation > a > li {
        text-align: left;
        float:left;
        width: 100%;
        /* text-align: center; */
    }

    #check:checked ~ .inner-header > .navigation {
        left: 70%;
    }

    .article-body > h1 {
        font-size: 22px;
    }

    #check:checked ~.inner-header .navigation  .profile-image {
        visibility: visible;
        opacity: 1;
        margin-left: 0px;
    }

    .navigation li i{
        display: inline-block;
    }

    #check:checked ~ .inner-header .navigation li span {
        opacity: 1;
    }

}

@media (max-width: 500px){

    .article-body {
        font-size: 14px;
        /* padding-top: 60px; FIX THIS */
    }

    .header {
        height: 60px;
    }

    .checkbtn {
        line-height: 60px;
    }

    .checkbtn > i {
        font-size: 25px;
    }

    .inner-header .navigation{
        left: 100%;
    }

    .inner-header .navigation li{
        font-size: 10px;
    }

    .inner-header .navigation .profile-image{
        width: 70px;
        height: 70px;
    }

}

.article-body {
    width: 70%;
    padding-top: 80px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
    background-color: rgba(220, 220, 220, 0.95);
}

.article-body > h1 {
    font-family: cursive;
    text-align: center;
    margin-bottom: 20px;
}

.article-body > * {
    margin-bottom: 5px;
}

.article-body article {
    text-align: justify;
    text-justify: inter-word;
}

.navigation .profile-image {
    visibility: hidden;
    display: none;
    width: 100px;
    height: 100px;
    margin: 0;
    margin-top: 20px;
}

.navigation i {
    display: none;
}

.logo-container span {
    color: rgb(4, 160, 233);
}

.article-body article {
    width: 100%;
    float: left;
    border: 1px solid black;
    padding-right: 10px;
    /* padding-left: 10px; */
}

.latest-news-area .news-block {
    transition: opacity 0.5s, transform 0.25s;
}

.latest-news-area .news-block:hover {
    opacity: 0.9;
    transform: scale(0.9);
    cursor: pointer;
    transition: opacity 0.5s, transform 0.25s;
}

.news-block .big-desc {
    font-size: 25px;
    margin-top: 5px;
    color: black;
    font-weight: bolder;
}

.news-block .desc {
    font-size: 14px;
}

.article-image {
    width: 200px;
    float: left;
    margin: 10px;
}

.latest-news-area {
    display: block;
}